@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

:root {
    --background: #1e1e1e;
    --font-color: #eee;
    --primary-light: #585aaf;
    --primary-dark: #30296e;
    --primary-gradient: linear-gradient(140deg, var(--primary-light) 0%, var(--primary-dark) 100%);
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--background);

    font-family: "Inter", sans-serif !important;
    color: var(--font-color);
    padding-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.todo {
    background-color: var(--primary-dark);
    border-radius: 10px;
    /* width: 150px; */
    /* height: 150px; */
    transition: background-color 0.2s ease-in-out;
}

.todo:hover {
    background-color: var(--primary-light);
}

.todos-date-row > div > p {
    font-size: 24px;
    font-weight: 800;
}

.todos-date-row .container-fluid {
    border-left: 3px solid var(--font-color);
    border-top: 3px solid var(--font-color);
    border-bottom: 3px solid var(--font-color);
    border-radius: 20px 0px 0px 20px;
    padding: 0;
}

.todos-date-row .container-fluid > .row {
    margin: 10px 0;
}

.todos-date-row .container-fluid::before,
.todos-date-row .container-fluid::after {
    --border-length: 50px;

    content: "";
    display: block;
    border-top: 5px solid var(--background);
    position: relative;
    width: calc(100% - var(--border-length));
    left: var(--border-length);
}

.todos-date-row .container-fluid::before {
    top: -4px;
}

.todos-date-row .container-fluid::after {
    top: 4px;
}

.todos-date-row:not(:last-child) {
    margin-bottom: 10px;
}

.toggle-divider > .toggle {
    display: flex;
    justify-content: center;
}

.toggle-divider > .toggle > div {
    user-select: none;
}

.toggle-divider > .toggle > div:first-child,
.toggle-divider > .toggle > div:last-child {
    flex: 1;
    border-top: 2px solid var(--font-color);
    margin-top: 14px;
}
