@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

:root {
    --background: #151515;
    --font-color: #eee;
    --primary-light: #7678ed;
    --primary-dark: #3d348b;
    /* --primary-gradient: linear-gradient(140deg, var(--primary-light) 0%, var(--primary-dark) 100%); */
    --primary-gradient: var(--primary-dark);
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--background);

    font-family: "Inter", sans-serif !important;
    color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

.todo {
    background: var(--primary-gradient);
    border-radius: 10px;
    width: 150px;
    height: 100px;
}
