@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

:root {
    --background: #1e1e1e;
    --font-color: #eee;
    --primary-light: #585aaf;
    --primary-dark: #30296e;
    --primary-gradient: linear-gradient(140deg, var(--primary-light) 0%, var(--primary-dark) 100%);
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: var(--background);

    font-family: "Inter", sans-serif !important;
    font-size: 20px;
    color: var(--font-color);

    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-dark);
    padding: 15px;
}

.navbar > .navbar-brand,
.navbar .nav-link {
    color: var(--font-color) !important;
}

.navbar > .navbar-brand {
    font-weight: 800;
}

.navbar-toggler {
    border: none;
    filter: invert(1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* TODOs */
.todo {
    background-color: var(--primary-dark);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.todo:hover {
    background-color: var(--primary-light);
}

.todos-date-row > div > p {
    font-size: 24px;
    font-weight: 800;
}

.todos-date-row .container-fluid {
    border-left: 3px solid var(--font-color);
    border-top: 3px solid var(--font-color);
    border-bottom: 3px solid var(--font-color);
    border-radius: 20px 0px 0px 20px;
    padding: 0;
}

.todos-date-row .container-fluid > .row {
    margin: 10px 0;
}

.todos-date-row .container-fluid::before,
.todos-date-row .container-fluid::after {
    --border-length: 50px;

    content: "";
    display: block;
    border-top: 5px solid var(--background);
    position: relative;
    left: var(--border-length);
}

.todos-date-row .container-fluid::before {
    top: -4px;
}

.todos-date-row .container-fluid::after {
    top: 4px;
}

.todos-date-row:not(:last-child) {
    margin-bottom: 10px;
}

.modal-button {
    border-radius: 100px;
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
    color: var(--font-color);   
    width: 70px;
    height: 70px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 25px;
    left: 25px;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.76);
}

.modal-button:hover {
    border-color: var(--primary-dark);
    background-color: var(--primary-light);
    color: var(--font-color);
}

.modal-div {
    padding: 20px;
    height: 90px;
}

.modal-content {
    background-color: #3a3a3a;
    border-radius: 10px;
}

.modal-header {
    border-bottom-color: #565656;
}

.modal-footer {
    border-top-color: #565656;
}

.btn-primary {
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
}

.btn-primary:hover {
    border-color: var(--primary-dark);
    background-color: var(--primary-light);
    color: var(--font-color);
}

.btn-secondary {
    border-color: #474d52;
    background-color: #474d52;
    color: var(--font-color);
}

.btn-secondary:hover {
    border-color: #474d52;
    background-color: #646e74;
    color: var(--font-color);
}


.toggle-divider > .toggle {
    display: flex;
    justify-content: center;
}

.toggle-divider > .toggle > div {
    user-select: none;
}

.toggle-divider > .toggle > div:first-child,
.toggle-divider > .toggle > div:last-child {
    flex: 1;
    border-top: 2px solid var(--font-color);
    margin-top: 14px;
}

/* DATE SWITCHER */
.date-switcher {
    max-width: 600px;
}

/* UTIL */
.underlined {
    text-decoration: underline;
}
